### S&P500 Script update

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
data = yf.download('^GSPC')

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

             Open   High    Low  Close  Adj Close   Volume
Date
1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [4]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-28,4354.169922,4388.839844,4315.120117,4373.939941,4373.939941,4594010000
2022-03-01,4363.140137,4378.450195,4279.540039,4306.259766,4306.259766,4679400000
2022-03-02,4322.560059,4401.479980,4322.560059,4386.540039,4386.540039,4409090000
2022-03-03,4401.310059,4416.779785,4345.560059,4363.490234,4363.490234,4062080000
2022-03-04,4342.120117,4342.120117,4284.979980,4328.870117,4328.870117,2997073000

! Do not run the line below unless you want to overwrite the existing S&P500 dataset !

In [ ]:
# data.to_csv("S&P500.csv")