### S&P500 Script update

In [11]:
import pandas as pd
import yfinance as yf

In [12]:
data = yf.download('EURUSD=X')

[*********************100%***********************]  1 of 1 completed

In [13]:
data.head()

                Open      High       Low     Close  Adj Close  Volume
Date
2003-12-01  1.203398  1.204007  1.194401  1.196501   1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897   1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298   1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094   1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695   1.218695       0

In [14]:
data.tail()

                Open      High       Low     Close  Adj Close  Volume
Date
2022-03-01  1.121466  1.123217  1.110211  1.121592   1.121592       0
2022-03-02  1.113102  1.114194  1.105852  1.113276   1.113276       0
2022-03-03  1.111358  1.111605  1.103984  1.111235   1.111235       0
2022-03-04  1.106929  1.106929  1.089004  1.106684   1.106684       0
2022-03-07  1.093733  1.096371  1.081198  1.083658   1.083658       0

! Do not run the line below unless you want to overwrite the existing S&P500 dataset !

In [15]:
data.to_csv("stock.csv")