In [50]:
import pandas as pd
import yfinance as yf

In [51]:
data = yf.download('EURUSD=X', start='2021-01-01', end='2022-01-01')

[*********************100%***********************]  1 of 1 completed

In [52]:
data

                Open      High       Low     Close  Adj Close  Volume
Date
2020-12-31  1.229906  1.230951  1.222300  1.229990   1.229990       0
2021-01-01  1.217285  1.221699  1.213499  1.218027   1.218027       0
2021-01-04  1.224905  1.230999  1.217137  1.225070   1.225070       0
2021-01-05  1.225295  1.229483  1.224995  1.225160   1.225160       0
2021-01-06  1.229861  1.235025  1.226693  1.230027   1.230027       0
...              ...       ...       ...       ...        ...     ...
2021-12-27  1.132387  1.133500  1.130416  1.132426   1.132426       0
2021-12-28  1.132978  1.133600  1.129038  1.133003   1.133003       0
2021-12-29  1.131337  1.137001  1.127536  1.131478   1.131478       0
2021-12-30  1.135976  1.135976  1.130071  1.136015   1.136015       0
2021-12-31  1.132323  1.137915  1.130506  1.132503   1.132503       0

[262 rows x 6 columns]

In [53]:
data = data.Close.to_frame()

In [54]:
data.tail()

               Close
Date
2021-12-27  1.132426
2021-12-28  1.133003
2021-12-29  1.131478
2021-12-30  1.136015
2021-12-31  1.132503

In [55]:
data.index.names = ['time']

In [56]:
data.to_csv('test_set.csv')